[data-ta][data-ta][data-ta-duration="50"],
body[data-ta-duration="50"] [data-ta] {
    transition-duration: 50ms
}

[data-ta][data-ta][data-ta-delay="50"],
body[data-ta-delay="50"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="50"].ta-animate,
body[data-ta-delay="50"] [data-ta].ta-animate {
    transition-delay: 50ms
}

[data-ta][data-ta][data-ta-duration="100"],
body[data-ta-duration="100"] [data-ta] {
    transition-duration: .1s
}

[data-ta][data-ta][data-ta-delay="100"],
body[data-ta-delay="100"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="100"].ta-animate,
body[data-ta-delay="100"] [data-ta].ta-animate {
    transition-delay: .1s
}

[data-ta][data-ta][data-ta-duration="150"],
body[data-ta-duration="150"] [data-ta] {
    transition-duration: .15s
}

[data-ta][data-ta][data-ta-delay="150"],
body[data-ta-delay="150"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="150"].ta-animate,
body[data-ta-delay="150"] [data-ta].ta-animate {
    transition-delay: .15s
}

[data-ta][data-ta][data-ta-duration="200"],
body[data-ta-duration="200"] [data-ta] {
    transition-duration: .2s
}

[data-ta][data-ta][data-ta-delay="200"],
body[data-ta-delay="200"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="200"].ta-animate,
body[data-ta-delay="200"] [data-ta].ta-animate {
    transition-delay: .2s
}

[data-ta][data-ta][data-ta-duration="250"],
body[data-ta-duration="250"] [data-ta] {
    transition-duration: .25s
}

[data-ta][data-ta][data-ta-delay="250"],
body[data-ta-delay="250"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="250"].ta-animate,
body[data-ta-delay="250"] [data-ta].ta-animate {
    transition-delay: .25s
}

[data-ta][data-ta][data-ta-duration="300"],
body[data-ta-duration="300"] [data-ta] {
    transition-duration: .3s
}

[data-ta][data-ta][data-ta-delay="300"],
body[data-ta-delay="300"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="300"].ta-animate,
body[data-ta-delay="300"] [data-ta].ta-animate {
    transition-delay: .3s
}

[data-ta][data-ta][data-ta-duration="350"],
body[data-ta-duration="350"] [data-ta] {
    transition-duration: .35s
}

[data-ta][data-ta][data-ta-delay="350"],
body[data-ta-delay="350"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="350"].ta-animate,
body[data-ta-delay="350"] [data-ta].ta-animate {
    transition-delay: .35s
}

[data-ta][data-ta][data-ta-duration="400"],
body[data-ta-duration="400"] [data-ta] {
    transition-duration: .4s
}

[data-ta][data-ta][data-ta-delay="400"],
body[data-ta-delay="400"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="400"].ta-animate,
body[data-ta-delay="400"] [data-ta].ta-animate {
    transition-delay: .4s
}

[data-ta][data-ta][data-ta-duration="450"],
body[data-ta-duration="450"] [data-ta] {
    transition-duration: .45s
}

[data-ta][data-ta][data-ta-delay="450"],
body[data-ta-delay="450"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="450"].ta-animate,
body[data-ta-delay="450"] [data-ta].ta-animate {
    transition-delay: .45s
}

[data-ta][data-ta][data-ta-duration="500"],
body[data-ta-duration="500"] [data-ta] {
    transition-duration: .5s
}

[data-ta][data-ta][data-ta-delay="500"],
body[data-ta-delay="500"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="500"].ta-animate,
body[data-ta-delay="500"] [data-ta].ta-animate {
    transition-delay: .5s
}

[data-ta][data-ta][data-ta-duration="550"],
body[data-ta-duration="550"] [data-ta] {
    transition-duration: .55s
}

[data-ta][data-ta][data-ta-delay="550"],
body[data-ta-delay="550"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="550"].ta-animate,
body[data-ta-delay="550"] [data-ta].ta-animate {
    transition-delay: .55s
}

[data-ta][data-ta][data-ta-duration="600"],
body[data-ta-duration="600"] [data-ta] {
    transition-duration: .6s
}

[data-ta][data-ta][data-ta-delay="600"],
body[data-ta-delay="600"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="600"].ta-animate,
body[data-ta-delay="600"] [data-ta].ta-animate {
    transition-delay: .6s
}

[data-ta][data-ta][data-ta-duration="650"],
body[data-ta-duration="650"] [data-ta] {
    transition-duration: .65s
}

[data-ta][data-ta][data-ta-delay="650"],
body[data-ta-delay="650"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="650"].ta-animate,
body[data-ta-delay="650"] [data-ta].ta-animate {
    transition-delay: .65s
}

[data-ta][data-ta][data-ta-duration="700"],
body[data-ta-duration="700"] [data-ta] {
    transition-duration: .7s
}

[data-ta][data-ta][data-ta-delay="700"],
body[data-ta-delay="700"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="700"].ta-animate,
body[data-ta-delay="700"] [data-ta].ta-animate {
    transition-delay: .7s
}

[data-ta][data-ta][data-ta-duration="750"],
body[data-ta-duration="750"] [data-ta] {
    transition-duration: .75s
}

[data-ta][data-ta][data-ta-delay="750"],
body[data-ta-delay="750"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="750"].ta-animate,
body[data-ta-delay="750"] [data-ta].ta-animate {
    transition-delay: .75s
}

[data-ta][data-ta][data-ta-duration="800"],
body[data-ta-duration="800"] [data-ta] {
    transition-duration: .8s
}

[data-ta][data-ta][data-ta-delay="800"],
body[data-ta-delay="800"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="800"].ta-animate,
body[data-ta-delay="800"] [data-ta].ta-animate {
    transition-delay: .8s
}

[data-ta][data-ta][data-ta-duration="850"],
body[data-ta-duration="850"] [data-ta] {
    transition-duration: .85s
}

[data-ta][data-ta][data-ta-delay="850"],
body[data-ta-delay="850"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="850"].ta-animate,
body[data-ta-delay="850"] [data-ta].ta-animate {
    transition-delay: .85s
}

[data-ta][data-ta][data-ta-duration="900"],
body[data-ta-duration="900"] [data-ta] {
    transition-duration: .9s
}

[data-ta][data-ta][data-ta-delay="900"],
body[data-ta-delay="900"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="900"].ta-animate,
body[data-ta-delay="900"] [data-ta].ta-animate {
    transition-delay: .9s
}

[data-ta][data-ta][data-ta-duration="950"],
body[data-ta-duration="950"] [data-ta] {
    transition-duration: .95s
}

[data-ta][data-ta][data-ta-delay="950"],
body[data-ta-delay="950"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="950"].ta-animate,
body[data-ta-delay="950"] [data-ta].ta-animate {
    transition-delay: .95s
}

[data-ta][data-ta][data-ta-duration="1000"],
body[data-ta-duration="1000"] [data-ta] {
    transition-duration: 1s
}

[data-ta][data-ta][data-ta-delay="1000"],
body[data-ta-delay="1000"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1000"].ta-animate,
body[data-ta-delay="1000"] [data-ta].ta-animate {
    transition-delay: 1s
}

[data-ta][data-ta][data-ta-duration="1050"],
body[data-ta-duration="1050"] [data-ta] {
    transition-duration: 1.05s
}

[data-ta][data-ta][data-ta-delay="1050"],
body[data-ta-delay="1050"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1050"].ta-animate,
body[data-ta-delay="1050"] [data-ta].ta-animate {
    transition-delay: 1.05s
}

[data-ta][data-ta][data-ta-duration="1100"],
body[data-ta-duration="1100"] [data-ta] {
    transition-duration: 1.1s
}

[data-ta][data-ta][data-ta-delay="1100"],
body[data-ta-delay="1100"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1100"].ta-animate,
body[data-ta-delay="1100"] [data-ta].ta-animate {
    transition-delay: 1.1s
}

[data-ta][data-ta][data-ta-duration="1150"],
body[data-ta-duration="1150"] [data-ta] {
    transition-duration: 1.15s
}

[data-ta][data-ta][data-ta-delay="1150"],
body[data-ta-delay="1150"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1150"].ta-animate,
body[data-ta-delay="1150"] [data-ta].ta-animate {
    transition-delay: 1.15s
}

[data-ta][data-ta][data-ta-duration="1200"],
body[data-ta-duration="1200"] [data-ta] {
    transition-duration: 1.2s
}

[data-ta][data-ta][data-ta-delay="1200"],
body[data-ta-delay="1200"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1200"].ta-animate,
body[data-ta-delay="1200"] [data-ta].ta-animate {
    transition-delay: 1.2s
}

[data-ta][data-ta][data-ta-duration="1250"],
body[data-ta-duration="1250"] [data-ta] {
    transition-duration: 1.25s
}

[data-ta][data-ta][data-ta-delay="1250"],
body[data-ta-delay="1250"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1250"].ta-animate,
body[data-ta-delay="1250"] [data-ta].ta-animate {
    transition-delay: 1.25s
}

[data-ta][data-ta][data-ta-duration="1300"],
body[data-ta-duration="1300"] [data-ta] {
    transition-duration: 1.3s
}

[data-ta][data-ta][data-ta-delay="1300"],
body[data-ta-delay="1300"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1300"].ta-animate,
body[data-ta-delay="1300"] [data-ta].ta-animate {
    transition-delay: 1.3s
}

[data-ta][data-ta][data-ta-duration="1350"],
body[data-ta-duration="1350"] [data-ta] {
    transition-duration: 1.35s
}

[data-ta][data-ta][data-ta-delay="1350"],
body[data-ta-delay="1350"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1350"].ta-animate,
body[data-ta-delay="1350"] [data-ta].ta-animate {
    transition-delay: 1.35s
}

[data-ta][data-ta][data-ta-duration="1400"],
body[data-ta-duration="1400"] [data-ta] {
    transition-duration: 1.4s
}

[data-ta][data-ta][data-ta-delay="1400"],
body[data-ta-delay="1400"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1400"].ta-animate,
body[data-ta-delay="1400"] [data-ta].ta-animate {
    transition-delay: 1.4s
}

[data-ta][data-ta][data-ta-duration="1450"],
body[data-ta-duration="1450"] [data-ta] {
    transition-duration: 1.45s
}

[data-ta][data-ta][data-ta-delay="1450"],
body[data-ta-delay="1450"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1450"].ta-animate,
body[data-ta-delay="1450"] [data-ta].ta-animate {
    transition-delay: 1.45s
}

[data-ta][data-ta][data-ta-duration="1500"],
body[data-ta-duration="1500"] [data-ta] {
    transition-duration: 1.5s
}

[data-ta][data-ta][data-ta-delay="1500"],
body[data-ta-delay="1500"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1500"].ta-animate,
body[data-ta-delay="1500"] [data-ta].ta-animate {
    transition-delay: 1.5s
}

[data-ta][data-ta][data-ta-duration="1550"],
body[data-ta-duration="1550"] [data-ta] {
    transition-duration: 1.55s
}

[data-ta][data-ta][data-ta-delay="1550"],
body[data-ta-delay="1550"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1550"].ta-animate,
body[data-ta-delay="1550"] [data-ta].ta-animate {
    transition-delay: 1.55s
}

[data-ta][data-ta][data-ta-duration="1600"],
body[data-ta-duration="1600"] [data-ta] {
    transition-duration: 1.6s
}

[data-ta][data-ta][data-ta-delay="1600"],
body[data-ta-delay="1600"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1600"].ta-animate,
body[data-ta-delay="1600"] [data-ta].ta-animate {
    transition-delay: 1.6s
}

[data-ta][data-ta][data-ta-duration="1650"],
body[data-ta-duration="1650"] [data-ta] {
    transition-duration: 1.65s
}

[data-ta][data-ta][data-ta-delay="1650"],
body[data-ta-delay="1650"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1650"].ta-animate,
body[data-ta-delay="1650"] [data-ta].ta-animate {
    transition-delay: 1.65s
}

[data-ta][data-ta][data-ta-duration="1700"],
body[data-ta-duration="1700"] [data-ta] {
    transition-duration: 1.7s
}

[data-ta][data-ta][data-ta-delay="1700"],
body[data-ta-delay="1700"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1700"].ta-animate,
body[data-ta-delay="1700"] [data-ta].ta-animate {
    transition-delay: 1.7s
}

[data-ta][data-ta][data-ta-duration="1750"],
body[data-ta-duration="1750"] [data-ta] {
    transition-duration: 1.75s
}

[data-ta][data-ta][data-ta-delay="1750"],
body[data-ta-delay="1750"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1750"].ta-animate,
body[data-ta-delay="1750"] [data-ta].ta-animate {
    transition-delay: 1.75s
}

[data-ta][data-ta][data-ta-duration="1800"],
body[data-ta-duration="1800"] [data-ta] {
    transition-duration: 1.8s
}

[data-ta][data-ta][data-ta-delay="1800"],
body[data-ta-delay="1800"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1800"].ta-animate,
body[data-ta-delay="1800"] [data-ta].ta-animate {
    transition-delay: 1.8s
}

[data-ta][data-ta][data-ta-duration="1850"],
body[data-ta-duration="1850"] [data-ta] {
    transition-duration: 1.85s
}

[data-ta][data-ta][data-ta-delay="1850"],
body[data-ta-delay="1850"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1850"].ta-animate,
body[data-ta-delay="1850"] [data-ta].ta-animate {
    transition-delay: 1.85s
}

[data-ta][data-ta][data-ta-duration="1900"],
body[data-ta-duration="1900"] [data-ta] {
    transition-duration: 1.9s
}

[data-ta][data-ta][data-ta-delay="1900"],
body[data-ta-delay="1900"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1900"].ta-animate,
body[data-ta-delay="1900"] [data-ta].ta-animate {
    transition-delay: 1.9s
}

[data-ta][data-ta][data-ta-duration="1950"],
body[data-ta-duration="1950"] [data-ta] {
    transition-duration: 1.95s
}

[data-ta][data-ta][data-ta-delay="1950"],
body[data-ta-delay="1950"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="1950"].ta-animate,
body[data-ta-delay="1950"] [data-ta].ta-animate {
    transition-delay: 1.95s
}

[data-ta][data-ta][data-ta-duration="2000"],
body[data-ta-duration="2000"] [data-ta] {
    transition-duration: 2s
}

[data-ta][data-ta][data-ta-delay="2000"],
body[data-ta-delay="2000"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2000"].ta-animate,
body[data-ta-delay="2000"] [data-ta].ta-animate {
    transition-delay: 2s
}

[data-ta][data-ta][data-ta-duration="2050"],
body[data-ta-duration="2050"] [data-ta] {
    transition-duration: 2.05s
}

[data-ta][data-ta][data-ta-delay="2050"],
body[data-ta-delay="2050"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2050"].ta-animate,
body[data-ta-delay="2050"] [data-ta].ta-animate {
    transition-delay: 2.05s
}

[data-ta][data-ta][data-ta-duration="2100"],
body[data-ta-duration="2100"] [data-ta] {
    transition-duration: 2.1s
}

[data-ta][data-ta][data-ta-delay="2100"],
body[data-ta-delay="2100"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2100"].ta-animate,
body[data-ta-delay="2100"] [data-ta].ta-animate {
    transition-delay: 2.1s
}

[data-ta][data-ta][data-ta-duration="2150"],
body[data-ta-duration="2150"] [data-ta] {
    transition-duration: 2.15s
}

[data-ta][data-ta][data-ta-delay="2150"],
body[data-ta-delay="2150"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2150"].ta-animate,
body[data-ta-delay="2150"] [data-ta].ta-animate {
    transition-delay: 2.15s
}

[data-ta][data-ta][data-ta-duration="2200"],
body[data-ta-duration="2200"] [data-ta] {
    transition-duration: 2.2s
}

[data-ta][data-ta][data-ta-delay="2200"],
body[data-ta-delay="2200"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2200"].ta-animate,
body[data-ta-delay="2200"] [data-ta].ta-animate {
    transition-delay: 2.2s
}

[data-ta][data-ta][data-ta-duration="2250"],
body[data-ta-duration="2250"] [data-ta] {
    transition-duration: 2.25s
}

[data-ta][data-ta][data-ta-delay="2250"],
body[data-ta-delay="2250"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2250"].ta-animate,
body[data-ta-delay="2250"] [data-ta].ta-animate {
    transition-delay: 2.25s
}

[data-ta][data-ta][data-ta-duration="2300"],
body[data-ta-duration="2300"] [data-ta] {
    transition-duration: 2.3s
}

[data-ta][data-ta][data-ta-delay="2300"],
body[data-ta-delay="2300"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2300"].ta-animate,
body[data-ta-delay="2300"] [data-ta].ta-animate {
    transition-delay: 2.3s
}

[data-ta][data-ta][data-ta-duration="2350"],
body[data-ta-duration="2350"] [data-ta] {
    transition-duration: 2.35s
}

[data-ta][data-ta][data-ta-delay="2350"],
body[data-ta-delay="2350"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2350"].ta-animate,
body[data-ta-delay="2350"] [data-ta].ta-animate {
    transition-delay: 2.35s
}

[data-ta][data-ta][data-ta-duration="2400"],
body[data-ta-duration="2400"] [data-ta] {
    transition-duration: 2.4s
}

[data-ta][data-ta][data-ta-delay="2400"],
body[data-ta-delay="2400"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2400"].ta-animate,
body[data-ta-delay="2400"] [data-ta].ta-animate {
    transition-delay: 2.4s
}

[data-ta][data-ta][data-ta-duration="2450"],
body[data-ta-duration="2450"] [data-ta] {
    transition-duration: 2.45s
}

[data-ta][data-ta][data-ta-delay="2450"],
body[data-ta-delay="2450"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2450"].ta-animate,
body[data-ta-delay="2450"] [data-ta].ta-animate {
    transition-delay: 2.45s
}

[data-ta][data-ta][data-ta-duration="2500"],
body[data-ta-duration="2500"] [data-ta] {
    transition-duration: 2.5s
}

[data-ta][data-ta][data-ta-delay="2500"],
body[data-ta-delay="2500"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2500"].ta-animate,
body[data-ta-delay="2500"] [data-ta].ta-animate {
    transition-delay: 2.5s
}

[data-ta][data-ta][data-ta-duration="2550"],
body[data-ta-duration="2550"] [data-ta] {
    transition-duration: 2.55s
}

[data-ta][data-ta][data-ta-delay="2550"],
body[data-ta-delay="2550"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2550"].ta-animate,
body[data-ta-delay="2550"] [data-ta].ta-animate {
    transition-delay: 2.55s
}

[data-ta][data-ta][data-ta-duration="2600"],
body[data-ta-duration="2600"] [data-ta] {
    transition-duration: 2.6s
}

[data-ta][data-ta][data-ta-delay="2600"],
body[data-ta-delay="2600"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2600"].ta-animate,
body[data-ta-delay="2600"] [data-ta].ta-animate {
    transition-delay: 2.6s
}

[data-ta][data-ta][data-ta-duration="2650"],
body[data-ta-duration="2650"] [data-ta] {
    transition-duration: 2.65s
}

[data-ta][data-ta][data-ta-delay="2650"],
body[data-ta-delay="2650"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2650"].ta-animate,
body[data-ta-delay="2650"] [data-ta].ta-animate {
    transition-delay: 2.65s
}

[data-ta][data-ta][data-ta-duration="2700"],
body[data-ta-duration="2700"] [data-ta] {
    transition-duration: 2.7s
}

[data-ta][data-ta][data-ta-delay="2700"],
body[data-ta-delay="2700"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2700"].ta-animate,
body[data-ta-delay="2700"] [data-ta].ta-animate {
    transition-delay: 2.7s
}

[data-ta][data-ta][data-ta-duration="2750"],
body[data-ta-duration="2750"] [data-ta] {
    transition-duration: 2.75s
}

[data-ta][data-ta][data-ta-delay="2750"],
body[data-ta-delay="2750"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2750"].ta-animate,
body[data-ta-delay="2750"] [data-ta].ta-animate {
    transition-delay: 2.75s
}

[data-ta][data-ta][data-ta-duration="2800"],
body[data-ta-duration="2800"] [data-ta] {
    transition-duration: 2.8s
}

[data-ta][data-ta][data-ta-delay="2800"],
body[data-ta-delay="2800"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2800"].ta-animate,
body[data-ta-delay="2800"] [data-ta].ta-animate {
    transition-delay: 2.8s
}

[data-ta][data-ta][data-ta-duration="2850"],
body[data-ta-duration="2850"] [data-ta] {
    transition-duration: 2.85s
}

[data-ta][data-ta][data-ta-delay="2850"],
body[data-ta-delay="2850"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2850"].ta-animate,
body[data-ta-delay="2850"] [data-ta].ta-animate {
    transition-delay: 2.85s
}

[data-ta][data-ta][data-ta-duration="2900"],
body[data-ta-duration="2900"] [data-ta] {
    transition-duration: 2.9s
}

[data-ta][data-ta][data-ta-delay="2900"],
body[data-ta-delay="2900"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2900"].ta-animate,
body[data-ta-delay="2900"] [data-ta].ta-animate {
    transition-delay: 2.9s
}

[data-ta][data-ta][data-ta-duration="2950"],
body[data-ta-duration="2950"] [data-ta] {
    transition-duration: 2.95s
}

[data-ta][data-ta][data-ta-delay="2950"],
body[data-ta-delay="2950"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="2950"].ta-animate,
body[data-ta-delay="2950"] [data-ta].ta-animate {
    transition-delay: 2.95s
}

[data-ta][data-ta][data-ta-duration="3000"],
body[data-ta-duration="3000"] [data-ta] {
    transition-duration: 3s
}

[data-ta][data-ta][data-ta-delay="3000"],
body[data-ta-delay="3000"] [data-ta] {
    transition-delay: 0
}

[data-ta][data-ta][data-ta-delay="3000"].ta-animate,
body[data-ta-delay="3000"] [data-ta].ta-animate {
    transition-delay: 3s
}

[data-ta][data-ta][data-ta-easing=linear],
body[data-ta-easing=linear] [data-ta] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[data-ta][data-ta][data-ta-easing=ease],
body[data-ta-easing=ease] [data-ta] {
    transition-timing-function: ease
}

[data-ta][data-ta][data-ta-easing=ease-in],
body[data-ta-easing=ease-in] [data-ta] {
    transition-timing-function: ease-in
}

[data-ta][data-ta][data-ta-easing=ease-out],
body[data-ta-easing=ease-out] [data-ta] {
    transition-timing-function: ease-out
}

[data-ta][data-ta][data-ta-easing=ease-in-out],
body[data-ta-easing=ease-in-out] [data-ta] {
    transition-timing-function: ease-in-out
}

[data-ta][data-ta][data-ta-easing=ease-in-back],
body[data-ta-easing=ease-in-back] [data-ta] {
    transition-timing-function: cubic-bezier(.6, -.28, .735, .045)
}

[data-ta][data-ta][data-ta-easing=ease-out-back],
body[data-ta-easing=ease-out-back] [data-ta] {
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}

[data-ta][data-ta][data-ta-easing=ease-in-out-back],
body[data-ta-easing=ease-in-out-back] [data-ta] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55)
}

[data-ta][data-ta][data-ta-easing=ease-in-sine],
body[data-ta-easing=ease-in-sine] [data-ta] {
    transition-timing-function: cubic-bezier(.47, 0, .745, .715)
}

[data-ta][data-ta][data-ta-easing=ease-out-sine],
body[data-ta-easing=ease-out-sine] [data-ta] {
    transition-timing-function: cubic-bezier(.39, .575, .565, 1)
}

[data-ta][data-ta][data-ta-easing=ease-in-out-sine],
body[data-ta-easing=ease-in-out-sine] [data-ta] {
    transition-timing-function: cubic-bezier(.445, .05, .55, .95)
}

[data-ta][data-ta][data-ta-easing=ease-in-quad],
body[data-ta-easing=ease-in-quad] [data-ta] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-ta][data-ta][data-ta-easing=ease-out-quad],
body[data-ta-easing=ease-out-quad] [data-ta] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-ta][data-ta][data-ta-easing=ease-in-out-quad],
body[data-ta-easing=ease-in-out-quad] [data-ta] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-ta][data-ta][data-ta-easing=ease-in-cubic],
body[data-ta-easing=ease-in-cubic] [data-ta] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-ta][data-ta][data-ta-easing=ease-out-cubic],
body[data-ta-easing=ease-out-cubic] [data-ta] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-ta][data-ta][data-ta-easing=ease-in-out-cubic],
body[data-ta-easing=ease-in-out-cubic] [data-ta] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-ta][data-ta][data-ta-easing=ease-in-quart],
body[data-ta-easing=ease-in-quart] [data-ta] {
    transition-timing-function: cubic-bezier(.55, .085, .68, .53)
}

[data-ta][data-ta][data-ta-easing=ease-out-quart],
body[data-ta-easing=ease-out-quart] [data-ta] {
    transition-timing-function: cubic-bezier(.25, .46, .45, .94)
}

[data-ta][data-ta][data-ta-easing=ease-in-out-quart],
body[data-ta-easing=ease-in-out-quart] [data-ta] {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

[data-ta^=fade][data-ta^=fade] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-ta^=fade][data-ta^=fade].ta-animate {
    opacity: 1;
    transform: translateZ(0)
}

[data-ta=fade-up] {
    transform: translate3d(0, 100px, 0)
}

[data-ta=fade-down] {
    transform: translate3d(0, -100px, 0)
}

[data-ta=fade-right] {
    transform: translate3d(-100px, 0, 0)
}

[data-ta=fade-left] {
    transform: translate3d(100px, 0, 0)
}

[data-ta=fade-up-right] {
    transform: translate3d(-100px, 100px, 0)
}

[data-ta=fade-up-left] {
    transform: translate3d(100px, 100px, 0)
}

[data-ta=fade-down-right] {
    transform: translate3d(-100px, -100px, 0)
}

[data-ta=fade-down-left] {
    transform: translate3d(100px, -100px, 0)
}

[data-ta^=zoom][data-ta^=zoom] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-ta^=zoom][data-ta^=zoom].ta-animate {
    opacity: 1;
    transform: translateZ(0) scale(1)
}

[data-ta=zoom-in] {
    transform: scale(.6)
}

[data-ta=zoom-in-up] {
    transform: translate3d(0, 100px, 0) scale(.6)
}

[data-ta=zoom-in-down] {
    transform: translate3d(0, -100px, 0) scale(.6)
}

[data-ta=zoom-in-right] {
    transform: translate3d(-100px, 0, 0) scale(.6)
}

[data-ta=zoom-in-left] {
    transform: translate3d(100px, 0, 0) scale(.6)
}

[data-ta=zoom-out] {
    transform: scale(1.2)
}

[data-ta=zoom-out-up] {
    transform: translate3d(0, 100px, 0) scale(1.2)
}

[data-ta=zoom-out-down] {
    transform: translate3d(0, -100px, 0) scale(1.2)
}

[data-ta=zoom-out-right] {
    transform: translate3d(-100px, 0, 0) scale(1.2)
}

[data-ta=zoom-out-left] {
    transform: translate3d(100px, 0, 0) scale(1.2)
}

[data-ta^=slide][data-ta^=slide] {
    transition-property: transform
}

[data-ta^=slide][data-ta^=slide].ta-animate {
    transform: translateZ(0)
}

[data-ta=slide-up] {
    transform: translate3d(0, 100%, 0)
}

[data-ta=slide-down] {
    transform: translate3d(0, -100%, 0)
}

[data-ta=slide-right] {
    transform: translate3d(-100%, 0, 0)
}

[data-ta=slide-left] {
    transform: translate3d(100%, 0, 0)
}

[data-ta^=flip][data-ta^=flip] {
    backface-visibility: hidden;
    transition-property: transform
}

[data-ta=flip-left] {
    transform: perspective(2500px) rotateY(-100deg)
}

[data-ta=flip-left].ta-animate {
    transform: perspective(2500px) rotateY(0)
}

[data-ta=flip-right] {
    transform: perspective(2500px) rotateY(100deg)
}

[data-ta=flip-right].ta-animate {
    transform: perspective(2500px) rotateY(0)
}

[data-ta=flip-up] {
    transform: perspective(2500px) rotateX(-100deg)
}

[data-ta=flip-up].ta-animate {
    transform: perspective(2500px) rotateX(0)
}

[data-ta=flip-down] {
    transform: perspective(2500px) rotateX(100deg)
}

[data-ta=flip-down].ta-animate {
    transform: perspective(2500px) rotateX(0)
}